# Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USUARIO=postgres
DB_CONTRASENA=tu_contraseña
DB_NOMBRE=tickets_db

# URLs de otros microservicios
PERSONAS_URL=http://localhost:8080/api/users
VEHICULOS_URL=http://localhost:3000/vehiculo
ESPACIOS_URL=http://localhost:8081/api/espacios

# Tarifa por hora
TARIFA_POR_HORA=1.5

# Puerto del servicio
PORT=3001
